.body {
    position: relative;
}


.flex {
    display: flex;
}


.container {
    padding: 5px;

}

.sectionHeader {
    margin-top: 50px;
    background-color: rgba(47, 23, 15, 0.9);
    color: rgba(255,255,255,.7);

}

.sectionHeader > h3 {
    margin: 5px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 500;

}



.group {
    display: inline-block;
    width: 90%;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.menuItems {
    background-color: rgba(255,255,255,.85);
}


div.menuItems > ul li {
    border-bottom: 2px dotted #ccc;
    line-height: 2em;
    text-align: right;
    clear: both;
    margin: 0.5em 0 0 0;
    list-style: none;
    height: 22px;
}

div.menuItems > ul {
    padding-left: 10px;
    padding-right: 10px;
}


span.definition {
    float: left;
}

span.price:before {
    content: "";
}

span.price:after {
    content: "";
}

span.definition {
    display: inline-block;
    border-bottom: 3px solid rgb(232,232,232);
    padding: 0;
    margin: 0 0 -2px 0;
    height: 22px;


}

p {
    text-align: left;
    margin: 0;
}

.left {
    width: 50%;
    float: left;
}

.right {
    margin-left: 50%;
    height: 1050px;
}

.footer {
    color: rgba(227, 227, 227, 0.99);
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 10pt;
    margin: 10px;

}

.box {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.definition {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: #9e1e00;


}

p {
    font-family: "josefin sans", sans-serif;
    color: #828281;
    font-weight: 400;
    padding-top: 3px;
    margin-bottom: 10px;
}

.par {
    text-transform: lowercase;
    font-size: 10pt;
    color: #4b4741;
}

.price {
    font-family: "josefin sans", sans-serif;
    font-weight: 700;
    font-size: 12.5pt;
}

.subNav {
    display: none;
    top: 65px; !important;
    background-color: rgba(230, 167, 86, 0.85);
    font-family: Raleway, sans-serif;
    font-weight: 800;
}

#subnav .pill {
    color: #2F170F
}

#subnav .pill.active {
    color: #E6A756;
    background-color: #2F170F;
}

.footer {
    margin-top: 75px;
}

.subNavTitle {
    font-weight: 300;
    color: #2F170F
}

#menu {
    margin-bottom: 200px;
}

.subNavPills {
    margin-left: auto;
}

.featuredItemTitleContainer {
    margin-right: auto;
}

@media screen and (max-width: 750px) {
    .left {
        width: inherit;
    }

    .right {
        margin-left: 0;
        width: inherit;
        height: 2070px;
    }

    .subNav {
        display: inherit;

    }

    .footer.menu {
        margin-top: 250px;
    }

    .navbar-collapse.menu {
        margin-top: 75px;
    }

    .sectionHeader {
        margin-top: 120px;
    }

    #menu {
        margin-bottom: 750px;
    }
}

@media screen and (max-width: 335px) {
    .subNavPills {
        margin-left: 0px;
    }

    .navTitleExpand {
        display: none;
    }
    .group {
        min-width: 0px;
        width: 100%;
    }

    .container {
        margin-left: 0;
        padding-right: 0;
        width: inherit;

    }

    .product-item-description {
        width: 100%;
    }

    .product-item-title {
        width: 100%;
        min-width: 0px;
    }

    .footer {
        width: 100%;
    }

    .featuredItemTitleContainer {
        margin-right: 0;
    }

    .section-heading .section-heading-lower {
        font-size: 36px; !important;

    }

    #menu {
        margin-bottom: 950px;
    }
}

